.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #32de84;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm{
    background-color: white;
    width: 30%;
}

@media only screen and (max-width:600px){
    .confirm{
        width: 80%;
    }
}